//control width with this classes

.width-100{
    width: 100%;
}

.width-90 {
    width: 90%;
}

.width-75{
    width: 75%;
}

.width-66{
    width: 66,6%;
}

.width-50{
    width: 50%;
}

.width-33 {
    width: 33,3%;
}

.width-25 {
    width: 25%;
}

.width-10 {
    width: 10%;
}